<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" ><app-brand></app-brand></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/games']" routerLinkActive="active"><i class="fa fa-play-circle"></i>Games<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" [routerLink]="['/routePath']" routerLinkActive="active" alt="Not yet">Shop</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ranking
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" disabled>
          <a class="dropdown-item disabled" alt="Not yet">All times</a>
          <a class="dropdown-item disabled" alt="Not yet">Week</a>
          <a class="dropdown-item disabled" alt="Not yet">Day</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
