<div *ngIf="!gameIsRunning" class="init-modal">
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <ng-container *ngIf="!firstTime">
          <h2>Game over</h2>
          <p>Your score: {{ gamePlay.score }}</p>
        </ng-container>
        Choose an option
      </div>
      <div class="card-body">
        <div class="btn-group">
        <button (click)="gameInit()" class="btn btn-success">Start game</button>
        <a routerLink="/games/{{identifier}}" class="btn btn-info">Go to game details</a>
        <a routerLink="/games" class="btn btn-info">Return to the list</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <app-header title="Play game" [subtitle]="game.name"></app-header>
  </div>
  <div class="card-body d-flex flex-row justify-content-around align-items-center">
      <div class="game-panel">
        <span class="textbox">{{ gameBehavior.renderText }}</span>
      </div>
      <div class="hud">
        <h3>Game stats</h3>
        <p>Score: <span class="text-primary">{{ gamePlay.score }}</span></p>
        <p>Time: <span class="timebar"><div class="timebar-fill" [style.width.%]="gameBehavior.currentTime / gameBehavior.maxTime * 100"></div></span></p>
        <p>Grade: <span class="text-primary">{{ gamePlay.grade }}</span></p>
      </div>
  </div>
  <div class="card-footer">
    <div *ngIf="gameIsRunning" >
      <div class="control-panel d-flex justify-content-around">
        <button *ngFor="let c of gameBehavior.gameControls" [ngClass]="c.classes" (click)="gameBehavior.callMethod([c.onClick])">{{ c.label }}</button>
      </div>
    </div>
  </div>
</div>

<div class="message-panel">
  <h3 class="card-title">Messages</h3>
  <p class="card-text text-muted">{{ message }}</p>
</div>
