<div class="card">
  <div class="card-header">
    <app-header title="Play game" [subtitle]="game.name"></app-header>
  </div>
  <div class="card-body d-flex flex-row justify-content-around align-items-center">
      <div class="game-panel">
        <p>3 x 4</p>
      </div>
      <div class="hud">
        <h3>Game stats</h3>
        <p>Score: <span class="text-primary">{{ score }}</span></p>
        <p>Time:</p>
        <p><ngb-progressbar type="info" [value]="time / maxTime * 100" [striped]="true" [animated]="true"><i></i></ngb-progressbar></p>
      </div>
  </div>
  <div class="card-footer">
    <div *ngIf="gameIsRunning" class="control-panel d-flex justify-content-around">
      <button (click)="button1click()">Increase score</button>
      <button (click)="button2click()">Show message</button>
      <button (click)="button3click()">Game over</button>
    </div>
    <div *ngIf="!gameIsRunning" class="control-panel d-flex justify-content-around">
      <button (click)="gameInit()">Start</button>
    </div>
  </div>
</div>

<div class="message-panel">
  <h3 class="card-title">Messages</h3>
  <p class="card-text text-muted">{{ message }}</p>
</div>
