<!--
  Comportamiento: Si el usuario no está logueado, muestra características de la aplicación.
  Si el usuario está logueado, mostrará el estado del jugador correspondiente al usuario.
-->
<app-header [title]="'Home'"></app-header>
<!--Si no logueado:-->
<div class="jumbotron text-center">
  <h1  class="page-header">Welcome to games4education!!</h1>
  <p>The platform transforming the education in a game!</p>
  <p>Consider to sign up in order to enjoy it! It's free!!</p>
  <a class="btn btn-info">Join to the party</a>
  <p>Or you already have an user?</p>
  <a class="btn btn-info">Let's connect!</a>
</div>
