<!--
  Comportamiento: Si el usuario no está logueado, muestra características de la aplicación.
  Si el usuario está logueado, mostrará el estado del jugador correspondiente al usuario.
-->
<app-header [title]="'Home'"></app-header>
<!--Si no logueado:-->
<div class="jumbotron text-center" *ngIf="!userIsLogged">
  <h1  class="page-header">Welcome to <app-brand></app-brand>!!</h1>
  <p>The platform transforming the education in a game!</p>
  <p>Consider to register in order to enjoy it! It's free!!</p>
  <a class="btn btn-info" [routerLink]="['/register']">Register</a>
  <p>Or you already have an user? Then let's connect!!</p>
  <a class="btn btn-success" [routerLink]="['/login']">Login</a>
</div>
<!--Si logueado-->
<div class="jumbotron" *ngIf="userIsLogged">

  <div class="card">
    <div class="card-header">
        <h1 class="page-header">Welcome, USERNAME</h1>
    </div>
    <div class="card-body">
      <figure>
        <img src="assets/img/default-avatar.png" alt="The user avatar"/>
      </figure>
      <div class="summary">
        <p>Level: 1</p>
        <p>Score: 0</p>
      </div>
    </div>
  </div>
  <div class="card-footer">
      <button (click)="logout()">Logout</button>
  </div>
</div>
