<!--
  Comportamiento: Si el usuario no está logueado, muestra características de la aplicación.
  Si el usuario está logueado, mostrará el estado del jugador correspondiente al usuario.
-->
<app-header [title]="'Home'"></app-header>
<!--Si no logueado:-->
<div class="jumbotron text-center" *ngIf="!userIsLogged">
  <div class="card">
    <div class="card-header">
        <h1 class="page-header card-title">Welcome to <app-brand></app-brand>!!</h1>
        <h2 class="card-subtitle text-muted">The platform transforming the education in a game!</h2>
    </div>
    <div class="card-body">
      <p class="card-text">Consider to <a [routerLink]="['/register']">register</a> in order to enjoy it! It's free!!</p>
      <p class="card-text">Or you already have an user? Then <a [routerLink]="['/login']">let's connect</a>!!</p>
    </div>
  </div>
</div>
<!--Si logueado-->
<div class="jumbotron" *ngIf="userIsLogged">

  <div class="card">
    <div class="card-header">
        <h1 class="page-header card-title">Welcome, {{ user.nickname }}</h1>
    </div>
    <div class="card-body">
      <figure>
        <img src="assets/img/default-avatar.png" alt="The user avatar"/>
      </figure>
      <div class="summary">
        <p>Level: 1</p>
        <p>Total score: {{ totalScore }}</p>
      </div>
    </div>
  </div>
  <div class="card-footer">
      <button (click)="logout()">Logout</button>
  </div>
</div>
